@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
:root {
  --orange: #ff8c2b;
  --panel: #141419;
  --bg: #0b0b0f;
}

html, body, #__next {
  height: 100%;
  background: var(--bg);
}

/* optional scrollbar */
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.06); border-radius: 6px; }
